name: Reusable Test
run-name: >-
  ${{ github.workflow }}
  ${{ format('(runs-on:{0}; input:{1};)', inputs.runs-on, inputs.input) }}

on:
  workflow_call:
    inputs:
      input:
        description: "Reusable input"
        required: false
        type: string
      another-input:
        description: "Another reusable input"
        required: false
        type: string
      runs-on:
        description: "runs-on argument"
        required: false
        type: string
      break:
        description: "Break the workflow"
        required: false
        type: boolean
        default: false
    outputs:
      jobs-context:
        description: "The jobs context serialized to JSON"
        value: ${{ toJSON(jobs) }}
      outcome: 
        description: The overall outcome of the reuseable workflow.
        value: >-
          ${{
            contains(jobs.*.outcome, 'failure') && 
              'failure' ||
              contains(jobs.*.result, 'failure') && 
                'failure' ||
              contains(jobs.*.result, 'cancelled') && 
                'cancelled' ||
              !contains(jobs.*.result, 'success') && 
                'skipped' ||
              contains(jobs.*.result, 'success') && 
                'success' ||
              'null'
          }}

env:
  INPUT: ${{ inputs.input }}
  RUNS_ON: ${{ inputs.runs-on }}

jobs:
  test-reusable:
    runs-on: >-
      ${{
        ( contains(inputs.runs-on, '"') || contains(inputs.runs-on, '''') ) &&
        fromJSON(inputs.runs-on) ||
        inputs.runs-on
      }}
    outcome: >-
      ${{ 
        contains(steps.*.outcome, 'failure') && 
          'failure' ||
          job.status || 
          'null' 
      }}
    steps:
      - name: Print context
        id: context
        env:
          GH_CONTEXT: ${{ toJSON(github) }}
          GH_INPUTS: ${{ toJSON(inputs) }}
          GH_RUNNER: ${{ toJSON(runner) }}
          GH_EVENT: ${{ toJSON(github.event) }}
        run: |
          echo "::group::Inputs toJSON (raw block deserialized):"
          jq . <<< "${GH_INPUTS}"
          echo "::endgroup::"
          echo
          echo "---"
          echo
          echo "::group::GitHub context toJSON:"
          jq . <<< "${GH_CONTEXT}"
          echo "::endgroup::"
          echo
          echo "---"
          echo
          echo "::group::GitHub event toJSON:"
          jq . <<< "${GH_EVENT}"
          echo "::endgroup::"
          echo
          echo "---"
          echo
          echo "::group::Runner context toJSON:"
          jq . <<< "${GH_RUNNER}"
          echo "::endgroup::"
          echo
          echo "---"
          echo
          echo "::group::Steps context:"
          echo "${{ toJSON(steps) }}"
          echo "::endgroup::"
          echo

      - name: Run test
        id: test
        run: |
          echo test
          echo "---      ---      ---"
          ${{ inputs.break == 1 && true || false }} && exit 1 || true
          echo

